@import url( 'https://fonts.googleapis.com/css?family=Noto+Sans+KR:300|Montserrat+Subrayada:700|Poiret+One|Palanquin+Dark:500,600,700&display=swap');

$goldenSize: 1.1613rem;
$navWidth: 15vw;
$articleWidth: 85vw;
$subTitleColor: #000000e0;
// shadow
$boxShadow: 0 5px 10px #d6d6d6;
@mixin customizedScrollbarWidth {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        overflow: scroll;
        width: 5px;
        height: 0;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(121, 121, 121);
        border-radius: 20%;
    }
}
@mixin customizedScrollbarHeight {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        overflow: scroll;

        height: 5px;
        width: 0;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(121, 121, 121);
        border-radius: 20%;
    }
}

// scrollbar
html {
    scroll-behavior: smooth;
    @include customizedScrollbarWidth;

}

// effect 
.translateX {
    color: $subTitleColor;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: translateX($goldenSize*2);
        color: black;
        font-weight: 900;

    }
}

.lengthen {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        letter-spacing: $goldenSize*2;
    }
}

.lengthen2 {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        letter-spacing: 6px;
    }
}

.scale {
    color: grey;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.07);
        color: black;
    }
}

body {
    overflow-x: hidden;
    scrollbar-width: 1px;
    .load-spinner {
        transition: all 0.3 ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .page-transition-enter {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
    .page-transition-enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 800ms, transform 400ms;
    }
    .page-transition-exit {
        opacity: 1;
    }
    .page-transition-exit-active {
        opacity: 0;
        transition: opacity 400ms;
    }
    .loading-indicator-appear,
    .loading-indicator-enter {
        opacity: 0;
    }
    .loading-indicator-appear-active,
    .loading-indicator-enter-active {
        opacity: 1;
        transition: opacity 400ms;
    }

    // elements
    .layout {
        display: grid;
        grid-template-columns: $articleWidth $navWidth;
        grid-template-areas: 'content' 'nav';
    }

    .header {
        display: inline-block;
        height: 100vh;
        .nav {
            position: fixed;

            font-family: 'Palanquin Dark', sans-serif;

            font-weight: 800;

            .parent-category {
                font-size: $goldenSize*2;
                letter-spacing: $goldenSize*0.5;
            }
            .header {
                width: $navWidth;
            }
            .categories {
                padding-left: 0;
                opacity: 0.5;
            }
            & > *,
            & > * > * {
                transition: all 0.3s;

                opacity: 0.8;
                color: black;
                text-decoration: none;
                &:hover {
                    opacity: 1;
                    letter-spacing: $goldenSize*1.5;
                }
            }
        }
    }

    .content {

        grid-area: content;
        overflow: hidden;

        & > * {
            padding-left: $navWidth/2;
            padding-right: $navWidth/2;
        }

        img {
            max-height: 90vh;
            max-width: 100%;
            box-shadow: $boxShadow;
        }

        // blog article 
        .blog {

            .blog__info {
                font-family: 'Palanquin Dark', sans-serif;
                text-align: left;
                margin-bottom: 4rem;

                .post-title {
                    font-size: $goldenSize*1.8;
                    margin-bottom: $goldenSize;
                }
                .post-date {
                    color: grey;
                    font-style: italic;
                    margin-top: 0;
                    font-size: $goldenSize/1.2;
                }
            }
            .blog__body {
                font-family: 'Noto Sans KR', sans-serif;
                line-height: 22pt;
                letter-spacing: 0.8px;
                text-align: left;

                p {
                    margin-top: $goldenSize*2.5;
                    margin-bottom: $goldenSize*2.5;
                }

                pre {
                    padding: $goldenSize;
                    box-shadow: $boxShadow;
                    border-radius: 10px;
                    overflow: hidden;
                    *:hover {
                        @include customizedScrollbarHeight;
                    }
                }
                .gist-file {
                    box-shadow: $boxShadow;
                }
            }
        }

        .disqus-footer {
            margin-top: $goldenSize*4;

        }
        // blog list
        .list {
            padding: 0;
            margin: 0;
            & {
                li {
                    font-family: 'Noto Sans KR', sans-serif;
                    list-style: none;
                    display: block;
                    a {
                        text-decoration: none;

                    }
                }
                .category-title {

                    font-family: 'Palanquin Dark', sans-serif;
                    // font-family: 'Montserrat Subrayada', sans-serif;
                    font-size: $goldenSize*4;
                    display: inline-block;
                    margin: $goldenSize 0;
                }

                .post-title {
                    display: inline-block;
                    text-align: left;
                    font-size: $goldenSize*1;
                    font-weight: 550;

                }

            }

        }

    }
}